@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(../font/Roboto-Bold.ttf) format('truetype');
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}