textarea {
    width: 98%;
    height: 15vh;
    padding: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    resize: none;
    outline: none;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 9px 0px #dbdbdb;
    border-bottom: 5px solid transparent;
    transition: border-color 300ms ease-in-out, opacity 300ms ease-in-out;
}

textarea:focus {
    border-color: #485b6e;
}